.lista-premios {
    border:solid 2px 
    black;border-radius: 200px;
    width:150px; 
    height:150px 
}

.img-primeiro {
  width: 160px;
  height: 90px;
  margin:27px 0px;
}
.item-primeiro {
    width: 80px;
    height: 80px;
    margin:43px 47px!important; 
    background-image: url('../img/trophy_first.png'); 
    display:block;
    background-repeat:no-repeat
}
.item-segundo {
    width: 100px;
     height: 100px;
      margin:49px 49px!important; 
      background-image: url('../img/icones.png'); 
      display:block;
      background-repeat:no-repeat;
      
}
.item-terceiro {
     width: 100px;
     height: 100px;
      margin:43px 47px!important; 
      background-image: url('../img/icones.png'); 
      display:block;
      background-repeat:no-repeat;
      background-position-y:-200px;
}